@charset "utf-8"
#allmap
    width: 100%
    height: 500px
    p
        margin-left: 5px
        font-size: 14px
// 控制右上角移位控件
.anchorTR
    margin-top: 2.5rem!important

/*  自定义控件 样式  */
#ulList
    position: absolute
    bottom: auto
    left: auto !important
    right: 7rem !important
    top: 10px
    z-index: 10
    text-size-adjust: none
    margin: 0
    padding: 0
    li
        display: inline-block
        padding: .2rem 1rem
        margin: 0 1.5rem
        list-style-type: none
        border: none
        border-radius: 15px
        background: #FFF
        cursor: pointer
    li:hover
        background: #333
        color: #FFF

// ulList新加样式
ul#List-traffic,ul#List-snack,ul#List-restaurant,ul#List-bank,ul#List-hotel
    padding: 10px 0 10px 48px
    li
        cursor: pointer
        &:hover
            color: #3A3F44
a#OutputList-traffic,a#OutputList-snack,a#OutputList-restaurant,a#OutputList-bank,a#OutputList-hotel
    cursor: pointer
// 地图信息窗口样式
.BMap_bubble_title
    font:
        weight: bold
        size: 1.1rem
    line-height: 1.5rem
.BMap_bubble_content
    margin-top: 1rem
    color: #9a9a9a
